<!DOCTYPE html>
<html>
    <head>
        <title>Choix du compte disponible sur le serveur Cozy</title>
    </head>
    <body>
        <a href="/auth/disconnect">déconnexion</a>
        <hr style="width: 95%" align="center"/>
		<% accounts.forEach(function(account) { %>
		<a href="/operations?server=<%= server %>&accesstoken=<%= accesstoken %>&accountId=<%= account.id %>"><%= account.label %></a><br/>
    	<% }); %>
    </body>
</html>