<html>
	<head>
		<title>Import d'opérations à partir d'un fichier csv vers Cozy</title>
	</head>
	<body>
        <a href="/auth/disconnect">déconnexion</a> - <%= accountLabel %>
        <hr style="width: 95%" align="center"/>
		<form action="/operations/import" method="post" enctype="multipart/form-data">
			<input type="hidden" id="server" name="server" value="<%= server %>">
			<input type="hidden" id="accesstoken" name="accesstoken" value="<%= accesstoken %>">
			<input type="hidden" id="accountId" name="accountId" value="<%= accountId %>">
			<input type="file" name="fileupload" value="fileupload" id="fileupload">
			<br/><br/>
			<input type="submit" value="valider"/>
		</form>
	</body
</html>