<!DOCTYPE html>
<html>
    <head>
        <title>Liste des opérations du compte Cozy</title>
    </head>
    <body>
        <a href="/auth/disconnect">déconnexion</a>
        - <a href="/operations/import/view?server=<%= server %>&accesstoken=<%= accesstoken %>&accountId=<%= accountId %>">importer des opérations sur ce compte</a>
        - <a href="/operations/delete?server=<%= server %>&accesstoken=<%= accesstoken %>&accountId=<%= accountId %>">supprimer les opérations de ce compte</a>
        <hr style="width: 95%" align="center"/>
		<% operations.forEach(function(operation) { %>
		<%= operation.date %> - <%= operation.label %> - <%= operation.amount %><br/>
    	<% }); %>
    </body>
</html>