<!DOCTYPE html>
<html>
    <head>
        <title>Saisie du serveur cozy</title>
    </head>
    <body>
        <form action="/auth/" method="post">
                url du server <input type="text" name="server" id="server" autofocus placeholder="michelpicon.mycozy.cloud" size=60/><br/>
                <input type="submit" value="valider"/>
        </form>
    </body>
</html>